/* 
Paleta de colores de Rappi que se estará usando en nuestra página
#ff441f 
#29D884
*/

.App {
  text-align: center;
  height: 100vh;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
