.info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .info span {
    margin-left: 20px;
    color: #29D884;
  }
  
  h2{
    color: #ff441f;
    background-color: rgb(254, 229, 205);
    padding: 1.5rem;
    width: 92%;
    margin-top: 0;
  }