
.welcome {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  

.login-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 
    "side main";
    align-items: stretch;
    color: #000;
  }
  
  .img-container {
    grid-area: side;
  }
  
  .img-container img{
    width: 100%;
    height: 100vh;
    overflow: auto;
  }
  
  .form-container {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form{
    width: 300px;
  }
  
  .form h1 {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 800;
    font-size: 2.5rem;
    align-items: center;
    margin-bottom: 3rem;
  }
  
.form .error-msg{
    font-size: medium;
    color: rgb(221, 38, 38);
    border: 1px solid rgb(221, 38, 38);
    background-color: rgb(253, 233, 233);
    padding: 0.5rem;
    width: 92%;
    margin-top: 0;
}

.form .success-msg{
    font-size: medium;
    color: rgb(66, 131, 31);
    border: 1px solid rgb(66, 131, 31);
    background-color: rgb(229, 242, 222);
    padding: 0.5rem;
    width: 92%;
    margin-top: 0;
}

.offscreen{
    display: none;
}

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .content > input {
    padding: 10px;
    width: 92%;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid #F7F8F9;
    background-color: #F7F8F9;
    border-radius: 5px;
    color: #000;
  }
  
  .content > input:focus {
    border: 1px solid rgb(187, 187, 187);
  }
  
  .content > button {
    width: 40%;
    padding: 10px;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
    background-color: #29D884;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content > p {
    color: rgb(146, 146, 146);
    font-size: 12px;
  }
  
  .content > p > span {
    color: #29D884;
    cursor: pointer;
  }

  .content > p > span:hover {
    text-decoration: underline;
  }
  

  @media only screen and (max-width: 1000px){
    .img-container{
        display: none;
    }
    .login-container{
      display: initial;
    }
    .form-container {
      height: 100vh;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .form{
        width: 100%;
    }
  }
  