.nav-start{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
}
.nav-end{
    padding-left: 1455px;
}

nav{
    display: flex;
    flex-direction: row;
}