body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --bg: #ffffff;
  --bg-accent: white;
  --nav-size: 60px;
  --border: 1px solid rgb(119, 119, 119);
  --border-radius: 8px;
  --speed: 500ms;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.navbar{
  height: var(--nav-size);
  background-color: white;
  padding: 0 1rem;
  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item{
  width: calc(var(--nav-size)*8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button{
  --button-size: calc(var(var(--nav-size)*5));
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
}

.icon-button:hover{
  filter: brightness(1.2);
}

.icon-button svg{
  fill: var(--text-color);
  width: 25px;
}

.dropdown{
  position: absolute;
  top:60px;
  width: 300px;
  overflow: hidden;
  left: 0;
  display: flex;
  flex-direction: column;
}

.dmHeader{
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login button{
  height: 30px;
  padding: 5px 20px;
  margin: 0px  20px;
  background-color:#29d884;
  border: none;
  box-shadow: none;
  border-radius: 5px;
}

.secciones{
  display: flex;
  flex-direction: column;
  height: auto;
}
.secciones a{
  height: 60px;
  align-self: flex-start;
}

.otros{
  display: flex;
  flex-direction: column;
  height: auto;
}
.otros a{
  height: 60px;
  align-self: flex-start;
}

.menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover{
  background-color: #29d884;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-right{
  margin-left:auto;
  background-color: red;
  color: blue;
}

.icon-left{
  margin-left:auto;
  background-color: red;
  color: blue;
}

.dpsection:not(.secciones, .otros){
  height: 60px;
}